<body >
    <header>
      <nav class="nav bg-dark navbar-expand-lg">
        <a class="navbar-brand text-light text-decoration-none pt-2 ps-4">
          Office Resources and Management Assistant
        </a>
        <ul
          class="navbar-nav text-light bg-dark ms-auto"
          style="flex-direction: row"
        >
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="info" name="info"> General Info </a>
        </li>
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="userPortal" name="userPortal" href="/userPortal"> Dashboard </a>
        </li>
        <li class="nav-item ps-0">
            <a class="nav-link active ps-3 pe-2" id="index" name="index" href="/"> Home </a>
          </li>
          <li class="nav-item ps-3 pe-2">
            <a class="nav-link active" id="userProfile" name="userProfile" href="/userProfile"> Profile </a>
          </li>
          <li class="nav-item ps-3 pe-2">
            <a class="nav-link active" id="logout" name="logout" href="/logout"> Logout </a>
          </li>
        </ul>
      </nav>
    </header>
        <section>
            <form
            class="form-outline rounded p-5"
            style="margin: 2rem auto 2rem auto;"
            action="/todos"
            method="POST"
            >
            <h1 style="font-size: 130%">Add a new task</h1>
            <div class="form-floating">
              <input
                type="text"
                id="title"
                class="form-control mb-4"
                placeholder="Title"
                name="title" 
                
              />
              <label for="title"  class="text-left"> Title</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                placeholder="Details"
                name="content" 
                id="content"
                rows="3"
              />
              <label class="form-label text-left" for="content"
                >Content</label
              >
            </div>
        
        <button class="btn bg-info text-light justify-content-center" style="display: flex; margin: 1rem auto 0rem auto;" type="submit">
            Save Task
        </button>  
        </form>     
    </section>

    <section>
        <% for(var i=0; i<tasks.length; i++) {%>
        <div class="todo-container text-light rounded mt-4" style="width: 100%;">   
                <ul class="pt-2">
                    <li> Task:      <%= tasks[i].title %></li>
                </ul>
                    
                <div class="d-flex" style="flex-direction: column; width: 100%;"> 
                    <form method="POST" action="/todos/update/<%= tasks[i].id %>" id="content" class="d-flex justify-content-start" style="margin: 0;height: 100%; min-width: 100%;">
                        <ul style="width: 80%; max-height: 100%;">
                            <li style="width: 100%; height: 100%;"> 
                                <textarea contenteditable="true" style="width:100%; height: 100%; margin-left: .1rem;" class="d-flex" name="content" id="content"> <%= tasks[i].content %> 
                                </textarea>
                            </li>
                        </ul>
                        <input type="hidden" name="_method" value="PUT"/>
                        <button class="btn btn-sm bg-info text-light mb-1 todo-button" type="submit" style="display: inline; height: 2rem;"> Update </button>    
                    </form>

                    <form method="POST" action="/todos/<%= tasks[i].id %>" class="d-flex justify-content-start mb-4" style="margin: 0;height: 100%; min-width: 100%;">
                        <ul style="width: 80%; max-height: 100%;">  
                            <li style="width: 100%; height: 100%;"> 
                                <div style="width:100%; height: 100%; margin-left: .1rem;"> </div>
                            </li>  
                        </ul>
                                <input type="hidden" name="_method" value="PUT"/>
                                <button class="btn btn-sm bg-info text-light mb-1 todo-button" type="submit" style="display: inline;"> Remove </button>  
                    </form>
                </div>
        </div>
            <% } %>
        
    </section>
    <div class="wrapper">

    </div>
     
    <footer class="footer">
      <div class="footer-header">
        Quicklinks for Filing Documents
      </div>
      <div class="push"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="nav-link active" href="https://qb-filing.alberta.ca/">
              Alberta Court of King's Bench Digital Filing
            </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://cams.albertacourts.ca/public-portal/?q=node/403">
            Alberta Court of Appeal Cams Digital Filing
          </a>
          </div>
          <div class="col">
            <a class="nav-link active" href="https://surrogate.alberta.ca/">
            Alberta King's Bench (Surrogate) Digital Filing 
          </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

  </body>
