<body >
    <header>
      <nav class="nav bg-dark navbar-expand-lg">
        <a class="navbar-brand text-light text-decoration-none pt-2 ps-4">
          Office Resources and Management Assistant
        </a>
          <ul
            class="navbar-nav text-light bg-dark ms-auto"
            style="flex-direction: row"
          >
            <li class="nav-item ps-0">
                <a class="nav-link active ps-3 pe-2" id="index" name="index" href="/"> Home </a>
              </li>
            <li class="nav-item ps-0">
              <a class="nav-link active ps-3 pe-2" id="info" name="info"> General Info </a>
            </li>

            <li class="nav-item ps-0">
              <a class="nav-link active ps-3 pe-2" id="userPortal" name="userPortal" href="/userPortal"> Dashboard </a>
            </li>
            <% if (admin) { %>
            <li class="nav-item ps-3 pe-2">
              <a
                class="nav-link active"
                id="adminPortal"
                name="adminPortal"
                href="/adminPortal"
              >
                Admin
              </a>
            </li>
            <%} else { %>
            <li class="nav-item ps-3 pe-2">
              <a
                class="nav-link active"
                id="userProfile"
                name="userProfile"
                href="/userProfile"
              >
                Profile
              </a>
            </li>
            <% } %>
            <li class="nav-item ps-3 pe-2">
              <a class="nav-link active" id="logout" name="logout" href="/logout"> Logout </a>
            </li>
          </ul>
      </nav>
    </header>
        <section class="section-responsive">
            <form
            class="form-outline form-width rounded p-3"
            style="margin: 2rem auto 2rem auto;"
            action="/todos"
            method="POST"
            >
            <h1 style="font-size: 130%">Add a new task</h1>
            <div class="form-floating">
              <input
                type="text"
                id="title"
                class="form-control mb-4"
                placeholder="Title"
                name="title" 
              />

              <label for="title"  class="text-left"> Title</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                placeholder="Details"
                name="content" 
                id="content"
                rows="3"
              />
              <label class="form-label text-left" for="content"
                >Content</label
              >
            </div>
        
        <button class="btn bg-info text-light justify-content-center" style="display: flex; margin: 1rem auto 0rem auto;" type="submit">
            Save Task
        </button>  
        </form>     
    </section>

    <section class="section-responsive">
        <% for(var i=0; i<tasks.length; i++) {%>
        <div class="todo-container text-light rounded mt-4" style="width: 100%; height: 12rem;">   
         
          <div class="bg-dark pt-2 pb-2"> 
          <span class="d-flex fixed-width" style="margin: 0 auto;">
            &nbsp Task: <%= tasks[i].title %>
          </span>
        </div>
             
          <form method="POST" id="content" class="d-flex flex-column justify-content-start form-width" style="margin: 0 auto;height: 7rem;">
                      
              <div class="d-flex justify-content-center" style="margin: 0 auto; width: 100%"> 
                <textarea contenteditable="true" class="mt-1 mb-2" style="width:100%; margin-left: .1rem;" name="content" id="content" rows="3" cols="1"><%= tasks[i].content %> 
                </textarea>
              </div>
                
              <div class="d-flex justify-content-center" style="width: 100%;"> 
                <div class="d-flex justify-content-center" style="width:100%"> 
                  <input type="hidden" name="_method" value="PUT"/>
                  <button formaction="/todos/update/<%= tasks[i].id %>" class="btn btn-sm bg-dark text-light mb-1" type="submit" style="height: 100%;width: 95%;"> 
                    Update 
                  </button>
                </div>
                  
                <div class="d-flex justify-content-center" style="width:100%"> 
                <input type="hidden" name="_method" value="PUT"/>
                <button formaction="/todos/delete/<%= tasks[i].id %>" class="btn btn-sm bg-dark text-light mb-1" type="submit" style="height: 100%; width: 95%;"> 
                  Remove 
                </button>  
                </div>

              </div>
            </form>
        </div>
       <% } %>
        
    </section>
    <div class="wrapper">

    </div>
     
    <footer class="footer">
      <div class="footer-header">
        Quicklinks for Filing Documents
      </div>
      <div class="push"></div>
      <div class="grid-container-footer">
    
        <div class="foot-1"> 
          <a class="nav-link active" href="https://qb-filing.alberta.ca/">
              Alberta Court of Kings's Bench Digital Filing
          </a>
        </div>
    
        <div class="foot-2"> 
          <a class="nav-link active foot-2" href="https://cams.albertacourts.ca/public-portal/?q=node/403">
            Alberta Court of Appeal Cams Digital Filing
          </a>
        </div>
    
        <div class="foot-3"> 
          <a class="nav-link active foot-3" href="https://surrogate.alberta.ca/">
            Alberta King's Bench (Surrogate) Digital Filing 
          </a>
        </div>
      
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

  </body>
