<body>
  <header>
    <nav class="nav bg-dark navbar-expand-lg">
      <a class="navbar-brand text-light text-decoration-none pt-2 ps-4">
        Office Resources and Management Assistant
      </a>
      <ul
        class="navbar-nav text-light bg-dark ms-auto"
        style="flex-direction: row"
      >
        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="index" name="index" href="/">
            Home
          </a>
        </li>

        <li class="nav-item ps-0">
          <a class="nav-link active ps-3 pe-2" id="info" name="info">
            General Info
          </a>
        </li>
        <% if (admin) { %>
        <li class="nav-item ps-3 pe-2">
          <a
            class="nav-link active"
            id="adminPortal"
            name="adminPortal"
            href="/adminPortal"
          >
            Admin
          </a>
        </li>
        <%} else { %>
        <li class="nav-item ps-3 pe-2">
          <a
            class="nav-link active"
            id="userProfile"
            name="userProfile"
            href="/userProfile"
          >
            Profile
          </a>
        </li>
        <% } %>
        <li class="nav-item ps-3 pe-2">
          <a class="nav-link active" id="logout" name="logout" href="/logout">
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section
      class="container bg-secondary text-light rounded mt-5 p-2"
      style="font-size: x-large"
    >
      <p>Welcome to the Dashboard <%= name %> !</p>
    </section>
    <section
      class="container bg-info text-light rounded mt-3 p-2"
      style="font-size: large"
    >
      <p>
        Your account has been created, but will not be able to access any of the
        application features until the account has been activated by the
        Administrator. Please contact the Administrator for access to be
        approved.
      </p>
    </section>
    <section>
      <div class="grid-dashboard">
        <div class="grid-dash-tasks">
          <button
            class="btn bg-dark text-light p-4"
            style="font-size: xx-large"
          >
            <a href="/todos" class="nav-link active text-decoration-none"
              >Task List</a
            >
          </button>
        </div>

        <div class="grid-dash-matters">
          <button
            class="btn bg-dark text-light p-4"
            style="font-size: xx-large"
          >
            <a href="/matters" class="nav-link active text-decoration-none">
              Matters List
            </a>
          </button>
        </div>

        <div class="grid-dash-files">
          <button
            class="btn bg-dark text-light p-4"
            style="font-size: xx-large"
          >
            <a href="/files" class="nav-link active text-decoration-none">
              Digital File Management
            </a>
          </button>
        </div>

        <div class="grid-dash-appt">
          <button
            class="btn bg-dark text-light p-4"
            style="font-size: xx-large"
          >
            <a
              href="/appointments"
              class="nav-link active text-decoration-none"
            >
              Appointments & Deadlines
            </a>
          </button>
        </div>
      </div>
    </section>
  </main>
  <div class="wrapper"></div>
  <footer class="footer">
    <div class="footer-header">Quicklinks for Filing Documents</div>
    <div class="push"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="nav-link active" href="https://qb-filing.alberta.ca/">
            Alberta Court of King's Bench Digital Filing
          </a>
        </div>
        <div class="col">
          <a
            class="nav-link active"
            href="https://cams.albertacourts.ca/public-portal/?q=node/403"
          >
            Alberta Court of Appeal Cams Digital Filing
          </a>
        </div>
        <div class="col">
          <a class="nav-link active" href="https://surrogate.alberta.ca/">
            Alberta King's Bench (Surrogate) Digital Filing
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"
  ></script>
</body>
