@include media-xs {
    .grid-container-appointments {
        display: grid;
        grid-template-areas: 
        "top-1 top-1" 
        "top-2 top-3" 
        "mid-1 mid-2" 
        "bot-1 bot-1" 
        "bot-2 bot-2" 
        "btn-appt btn-appt" 
        "btn-appt btn-appt";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 2rem 2rem 2rem 3rem 2rem;
        font-size: smaller;
    }

    .form-input {
        min-width: 16rem;
    }

    .form-size-appt {
        min-width: 16rem;
    }

    .form-typography {
        display: flex;
        align-items: center;
        font-size: .5rem;
        font-weight: bold;
        height:1.3rem;
    }
    
    .section-responsive-input {
        width: 16rem;
        margin: 0 auto;
    }
    
    .section-responsive-appt {
        width: 20rem;
        margin: 0 auto;
    }

    .btn-size-appt {
        min-height: 50%;
        min-width: 100%;
    }

    .time-width {
        width: 6rem;
    }
    .date-label-width {
        width: 2.3rem;
    }
    .date-input-width {
        width: 6rem;
    }

}
@include media-sm {
    .grid-container-appointments {
        display: grid;
        grid-template-areas: 
        "top-1 top-1" 
        "top-2 top-3" 
        "mid-1 mid-2" 
        "bot-1 bot-1" 
        "bot-2 bot-2" 
        "btn-appt btn-appt" 
        "btn-appt btn-appt";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 2rem 2rem 2rem 3rem 2rem;
    }

    .form-input {
        min-width: 20rem;
    }

    .form-size-appt {
        min-width: 18rem;
    }

    .form-typography {
        font-size: .7rem;
    }
    
    .section-responsive-input {
        width: 20rem;
        margin: 0 auto;
    }
    
    .section-responsive-appt {
        width: 25rem;
        margin: 0 auto;
    }

    .btn-size-appt {
        min-height: 50%;
        min-width: 100%;
    }

    .time-width {
        width: 7rem;
    }
    .date-label-width {
        width: 3rem;
    }
    .date-input-width {
        width: 7rem;
    }
}

@include media-lg {
    .grid-container-appointments {
        display: grid;
        grid-template-areas:
        "top-1 top-2 top-3 btn-appt"
        "mid-1 mid-2 mid-2 btn-appt"
        "bot-1 bot-2 bot-2 btn-appt"; 
        grid-template-columns: .5fr 1.5fr 1.3fr .2fr;
        grid-template-rows: 3rem 3rem 3rem;
    }

    .form-input {
        width: 28rem;
    }
    .form-size-appt {
        min-width: 28rem;
    }

    .form-typography {
        font-size: .9rem;
    }

    .section-responsive-input {
        width: 28rem;
        margin: 0 auto;
    }

    .section-responsive-appt {
        width: 45rem;
    }

    .time-width {
        width: 9rem;
    }

    .date-label-width {
        width: 3.5rem;
    }
    .date-input-width {
        width: 8rem;
    }

    .btn-size-appt {
        min-height: 50%;
        min-width: 50%;
    }

    .btn-swap {
        display: flex;
        flex-direction: row; 
    }
}

@include media-xl {

    .btn-half-height {
        min-height: 50%;
        min-width: 50%;
    }

    .section-responsive-appt {
        width: 45rem;
    }

    .form-size-appt {
        min-width: 45rem;
    }

}