@import 'variables';

@include media-xs {
    .grid-container-matters {
        display: grid;
        grid-template-areas:
        "hd-1 val-1" 
        "hd-2 val-2"
        "hd-3 val-3"
        "hd-4 val-4"
        "hd-5 val-5"
        "hd-6 val-6"
        "hd-7 val-7"
        "hd-8 val-8"
        "hd-9 val-9"
        "memo memo"
        "text text" 
        "btn-matters btn-matters"; 
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 6rem 3rem;
    }
    
    .btn-matters {
        display: flex;
        flex-direction: row;
    }
    
    .btn-size-matters {
        min-height: 50%;
        min-width: 50%;
    }

    .form-size-matters {
        min-width: 15rem;
    }

    .form-create-appt {
        min-width: 15rem;
    }

    .section-responsive {
        margin: 0 auto;
        width: 20rem;
    }

    .notes {
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: $secondary-colour;
        background-color: $tertiary-colour;
        font-size: 1rem;
    }
    
    .notes:focus {
        transform: scale(1.2);
    }
    

}
@include media-md {
    .grid-container-matters {
        display: grid;
        grid-template-areas:
        "hd-1 hd-2 hd-3 hd-4 hd-5 hd-6 hd-7 hd-8 hd-9 btn-matters" 
        "val-1 val-2 val-3 val-4 val-5 val-6 val-7 val-8 val-9 btn-matters" 
        "memo text text text text text text text text btn-matters"; 
        grid-template-columns: .8fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
        grid-template-rows: 3rem 2rem 4rem;
    }
    .form-size-matters {
        min-width: 28rem;
    }

    .form-create-appt {
        min-width: 20rem;
    }

    .section-responsive {
        width: 28rem;
    }
}


@include media-lg {

    .section-responsive {
        width: 30rem;
    }

    .form-size-matters {
        min-width: 30rem;
    }
    .form-create-appt {
        min-width: 25rem;
    }

}





