@include media-sm {
    .grid-container-appointments {
        display: grid;
        grid-template-areas: 
        "top-1 top-1" 
        "top-2 top-3" 
        "mid-1 mid-2" 
        "bot-1 bot-1" 
        "bot-2 bot-2" 
        "btn-appt btn-appt";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 2rem 2rem 2rem 3rem 2rem;
    }

    .section-responsive {
        min-height: 15.1rem
    }

    .form-width {
        min-width: 25rem;
        height: 15rem;
    }


    .fixed-width {
        min-width: 20rem;
    }

    .time-width {
        width: 6rem;
    }

    .btn-appt {
        grid-area: btn-appt;
    }

    .btn-half-height {
        min-height: 100%;
        min-width: 50%;
    }

    .btn-swap {
        display: flex;
        flex-direction: row; 
    }
}

@include media-md {
   .grid-container-appointments {
        display: grid;
        grid-template-areas:
        "top-1 top-2 top-3 btn-appt"
        "mid-1 mid-2 mid-2 btn-appt"
        "bot-1 bot-2 bot-2 btn-appt"; 
        grid-template-columns: .5fr 1.5fr 1.3fr .2fr;
        grid-template-rows: 3rem 3rem 3rem;
    }
    .btn-half-height {
        min-height: 50%;
        min-width: 50%;
    }

    .time-width {
        width: 10rem;
    }

    .section-responsive {
        height: 10.1rem
    }
}