/* Index styles */

html{
    height: 100%;
    margin: 0;
}

body {
    height: 100vh;
}

form {
    min-width: 25rem;
    max-width: 25rem;
}

.form-outline {
    outline: 3px solid rgb(104, 193, 234);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 5rem 
}

.form-margin {
    margin: 7rem auto calc(100vh - 39.7rem) auto;
}

.form-typography {
    font-size: .9rem;
    font-weight: bold;
    height:1.3rem;
}

.wrapper {
    min-height: calc(100vh - 35rem);
    background-color: FFFFFF;
}


.push {
    height: 2rem;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 400px) {
    ul {
        font-size: 80%;
    }
    textarea {
        font-size: 80%;
    }
}

.footer {
    height: 13rem;
    color: aliceblue;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
    background-color: black;
}

.footer-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    
}

.link-effect {
    transform: scale(1);
}

.link-effect:hover {
    transition: .1s ease-in;
    transform: (1.01);
}


textarea { 
    resize: none; 
}


/* colors */

.primary-color {
    color: white;
    background-color: rgb(29, 2, 2);
}
.secondary-color {
    color: black;
    background-color: white;
}

/* typography */

.font-primary {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notes {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: #33ccff;
}

.notes:focus {
    transform: scale(1.2);
}

/* form/section sizing*/

.section-responsive {
    width: 25rem;
}

.form-width {
    min-width: 0;
}

/* drop down menu */

.drop-dwn-pos {
    text-align: center;
}

/* custom button details */

.btn-details {
    height: 100%;
}

.btn-details:hover {
    background: black;
    color: white;
    transition: .3s ease-in-out;
}

.btn-details-secondary {
    height: 100%;
}

.btn-details-secondary:hover {
    background: white;
    color: black;
    transition: .3s ease-in-out;
}

.btn-swap {
    display: flex;
    flex-direction: column;
}

/* dashboard */


.grid-dashboard {
    display: grid;
    grid-template-areas:
    "grid-dash-tasks grid-dash-matters" 
    "grid-dash-files grid-dash-appt"; 
    grid-template-columns: 25rem 25rem;
    grid-template-rows: 15rem 15rem;
    justify-content: center;
}

.container {
    font-size: 150%;
}

@media only screen and (max-width: 990px) {
    .grid-dashboard {
        display: grid;
        grid-template-areas:
        "grid-dash-tasks grid-dash-matters" 
        "grid-dash-files grid-dash-appt"; 
        grid-template-columns: 22rem 22rem;
        grid-template-rows: 13rem 13rem;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 776px) {
    .grid-dashboard {
        display: grid;
        grid-template-areas:
        "grid-dash-tasks grid-dash-matters" 
        "grid-dash-files grid-dash-appt"; 
        grid-template-columns: 18rem 18rem;
        grid-template-rows: 11rem 11rem;
        justify-content: center;
    }
    .container {
        font-size: 150%;
        max-width: 36rem;
    }
    
}

@media only screen and (max-width: 586px) {
    .grid-dashboard {
        display: grid;
        grid-template-areas:
        "grid-dash-tasks grid-dash-matters" 
        "grid-dash-files grid-dash-appt"; 
        grid-template-columns: 14rem 14rem;
        grid-template-rows: 8rem 8rem;
        justify-content: center;
    }
    .container {
        font-size: 100%;
        max-width: 28rem;
    }
}

@media only screen and (max-width: 450px) {
    .grid-dashboard {
        display: grid;
        grid-template-areas:
        "grid-dash-tasks grid-dash-matters" 
        "grid-dash-files grid-dash-appt"; 
        grid-template-columns: 10rem 10rem;
        grid-template-rows: 7rem 7rem;
        justify-content: center;
    }
    .container {
        max-width: 20rem;
    }
}


.grid-dash-tasks {
    grid-area: grid-dash-tasks;
}

.grid-dash-matters {
    grid-area: grid-dash-matters;
}

.grid-dash-files {
    grid-area: grid-dash-files;
}

.grid-dash-appt {
    grid-area: grid-dash-appt;
}

.dash-grid-box {
    width: 100%;
    height: 100%;
    font-size: 150%;
    outline: 1px white solid;
    color: white;
    background-color: black;
}

.dash-grid-box:hover {
    background-color: #33ccff;
    transition: .3s ease-in-out;
}

@media only screen and (max-width: 450px) {
    .dash-grid-box {
    font-size: 80%;

    }
}


/* Todos styles */

.todo-container {
    outline: 2px solid rgb(0, 0, 0);
    background: rgb(240, 246, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: 45rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media only screen and (max-width: 400px) {
    ul {
        font-size: 80%;
    }
    textarea {
        font-size: 80%;
    }
}

.todo-button { 
    min-width: 5rem;
    max-width: 5rem;  
    margin-left: 2rem;
}


/* Matters */

.grid-container-matters {
    display: grid;
    grid-template-areas:
    "hd-1 hd-2 hd-3 hd-4 hd-5 hd-6 hd-7 hd-8 hd-9 btn-matters" 
    "val-1 val-2 val-3 val-4 val-5 val-6 val-7 val-8 val-9 btn-matters" 
    "memo text text text text text text text text btn-matters"; 
    grid-template-columns: .8fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 3rem 2rem 4rem;
}

.hd-1 {
    grid-area: hd-1;
}
.hd-2 {
    grid-area: hd-2;
}
.hd-3 {
    grid-area: hd-3;
}
.hd-4 {
    grid-area: hd-4;
}
.hd-5 {
    grid-area: hd-5;
}
.hd-6 {
    grid-area: hd-6;
}
.hd-7 {
    grid-area: hd-7;
}
.hd-8 {
    grid-area: hd-8;
}
.hd-9 {
    grid-area: hd-9;
}


.val-1 {
    grid-area: val-1;
}
.val-2 {
    grid-area: val-2;
    
}
.val-3 {
    grid-area: val-3;
}
.val-4 {
    grid-area: val-4;
}
.val-5 {
    grid-area: val-5;
}
.val-6 {
    grid-area: val-6;
}
.val-7 {
    grid-area: val-7;
}
.val-8 {
    grid-area: val-8;
}
.val-9 {
    grid-area: val-9;
}

.memo {
    grid-area: memo;
}
.text {
    grid-area: text;
}

.section-responsive {
    margin: 0 auto;
    min-width: 40%;
    max-width: 80%;
}

.btn-matters {
    grid-area: btn-matters;
}

.btn-half-height {
    height: 50%;
}

@media only screen and (max-width: 770px) {
    .grid-container-matters {
        display: grid;
        grid-template-areas:
        "hd-1 val-1" 
        "hd-2 val-2"
        "hd-3 val-3"
        "hd-4 val-4"
        "hd-5 val-5"
        "hd-6 val-6"
        "hd-7 val-7"
        "hd-8 val-8"
        "hd-9 val-9"
        "memo memo"
        "text text" 
        "btn-matters btn-matters"; 
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 6rem 3rem;
    }

    .btn-matters {
        display: flex;
        flex-direction: row;
    }

    .btn-half-height {
        height: 100%;
        width: 50%;
    }
}


/* FILE MANAGEMENT*/

.responsive-pos {
    margin: 0 auto;
}

.grid-container-header {
    display: grid;
    grid-template-areas:
    "file-header";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
}

.grid-container-files {
    display: grid;
    grid-template-areas:
    "file-data file-req-form";
    grid-template-columns: 1.5fr .5fr;
    grid-template-rows: repeat(auto-fill);
}

.header-direction {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.file-data-dir {
    display: inline;
    align-items: center;

}

.fixed-width {
    min-width: 25rem;
    max-width: 25rem;
}

.file-form-dir {
    display: flex;
    flex-direction: row;
}

.file-header {
    grid-area: file-header;
}


.file-data {
    grid-area: file-data;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 100%;
}

.file-req-form {
    grid-area: file-req-form;
}

.btn-typography {
    display: inline;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 50%;
    border-radius: 0px;
}

.form-1 {
    margin: 2rem 0 2rem 4rem;
}

.form-btn {
    min-height: 100%;
    min-width: 100%;
}


@media only screen and (max-width: 1130px) {

    .grid-container-files {
        display: grid;
        grid-template-areas:
        "file-data" 
        "file-req-form";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill);
    }


    .form-btn {
        display: flex;
        flex-direction: row;
        padding: 0;
        text-align: center;
        min-width: 100%;
        
    }

    .btn-typography {
        display: inline;
        margin: 0 auto;
        padding: 0;
        width: 50%;
        min-height: 100%;   
    }
    
}

@media only screen and (max-width: 690px) {

    .responsive-pos {
        margin: 0 auto;
        justify-content: center;
    }

    .form-1 {
        margin: 2rem auto 2rem auto;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 420px) {
    
    .fixed-width {
        min-width: 20rem;
    }

    .file-data { 
        font-size: 80%;
    }
}


/* APPOINTMENTS and DEADLINES */

.grid-container-appointments {
    display: grid;
    grid-template-areas:
    "top-1 top-2 top-3 btn-appt"
    "mid-1 mid-2 mid-2 btn-appt"
    "bot-1 bot-2 bot-2 btn-appt"; 
    grid-template-columns: .5fr 1.5fr 1.3fr .2fr;
    grid-template-rows: 3rem 3rem 3rem;
}

.top-1 {
    grid-area: top-1;
}

.top-2 {
    grid-area: top-2;
}

.top-3 {
    grid-area: top-3;
}

.mid-1 {
    grid-area: mid-1;
}

.mid-2 {
    grid-area: mid-2;
}

.bot-1 {
    grid-area: bot-1;
}

.bot-2 {
    grid-area: bot-2;
}

.btn-appt {
    grid-area: btn-appt;
}

.center-grid-cell {
    display:flex; 
    margin-bottom: 0; 
    height: 100%; 
    justify-content:center; 
    align-items: center;
}

.phone-width {
    width: 7rem;
}

.time-width {
    width: 10rem;
}

@media only screen and (max-width: 770px) {

    .btn-swap {
        display: flex;
        flex-direction: row;
        
    }
}

@media only screen and (max-width: 1420px) {
    
    .grid-container-appointments {
        display: grid;
        grid-template-areas:
        "top-1 top-1"
        "top-2 top-3"
        "mid-1 mid-2"
        "bot-1 bot-1" 
        "bot-2 bot-2"
        "btn-appt btn-appt"; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 2rem 2rem 2rem 3rem 2rem;
    }

    
    .fixed-width {
        min-width: 20rem;
    }

    .time-width {
        width: 6rem;
    }

    .btn-appt {
        grid-area: btn-appt;
    }

    .btn-half-height {
        min-height: 50%;
        min-width: 50%;
    }
}




/* REGISTRATION */

.btn-reg-primary {
    min-height: 3rem;
}

.btn-reg-secondary {
    min-height: 3rem;
}

.btn-reg-primary:hover {
    background-color: rgb(31, 213, 226);
    transition: .2s ease-in-out;
}

.btn-reg-secondary:hover {
    color: black;
    background-color: white;
    transition: .2s ease-in-out;
}

/* .btn-reg:focus {
    transform: scale(.99);
    transition: 1s ease-in-out;
} */
@media only screen and (max-width: 380px) {
    
    .fixed-width {
        min-width: 15rem;
    }

}

/* Admin Portal */

.grid-container-admin {
    display: grid;
    grid-template-areas:
    "hd-1 grid-username"
    "hd-2 grid-email"
    "hd-3 grid-access"
    "grid-btn-admin grid-btn-admin";
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 2rem 2rem 2rem 1.5rem;
}

.grid-container-passchange {
    display: grid;
    grid-template-areas:
    "grid-btn-change grid-btn-password "
    "grid-message-text grid-message-text";
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 6rem 2rem;
}


.grid-username {
    grid-area: grid-username;
}

.grid-email {
    grid-area: grid-email;
}

.grid-access {
    grid-area: grid-access;
}

.grid-btn-admin {
    grid-area: grid-btn-admin;
}

.grid-btn-password {
    grid-area: grid-btn-password;
}
.grid-btn-change {
    grid-area: grid-btn-change;
}

.grid-message-text {
    grid-area: grid-message-text;
}