/* Index styles */

html{
    height: 100%;
    margin: 0;
}

body {
    height: 100vh;
}

form {
    min-width: 25rem;
    max-width: 25rem;
}

.form-outline {
    outline: 3px solid rgb(104, 193, 234);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 5rem 
}

.form-margin {
    margin: 7rem auto calc(100vh - 39.7rem) auto;
}

.wrapper {
    min-height: calc(100vh - 35rem);
    background-color: FFFFFF;
}


.push {
    height: 2rem;
    
}
ul {
    list-style-type: none;
}

.footer {
    height: 13rem;
    color: aliceblue;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
    background-color: black;
}

.footer-header {
    color: ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    
}


/* Todos styles */

.todo-container {
    outline: 2px solid black;
    background: rgb(57, 177, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 auto;
    min-width: 20rem;
    max-width: 45rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.todo-button { 
    min-width: 5rem;
    max-width: 5rem;  
    margin-left: 2rem;
}


/* Matters */

.grid-container-matters {
    display: grid;
    grid-template-areas:
    "hd-1 hd-2 hd-3 hd-4 hd-5 hd-6 hd-7 hd-8 hd-9" 
    "val-1 val-2 val-3 val-4 val-5 val-6 val-7 val-8 val-9" 
    "memo text text text text text text text text"; 
    grid-template-columns: .8fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr ;
    grid-template-rows: 3rem 2rem 4rem;
   
}

.hd-1 {
    grid-area: hd-1;
}
.hd-2 {
    grid-area: hd-2;
}
.hd-3 {
    grid-area: hd-3;
}
.hd-4 {
    grid-area: hd-4;
}
.hd-5 {
    grid-area: hd-5;
}
.hd-6 {
    grid-area: hd-6;
}
.hd-7 {
    grid-area: hd-7;
}
.hd-8 {
    grid-area: hd-8;
}
.hd-9 {
    grid-area: hd-9;
}


.val-1 {
    grid-area: val-1;
}
.val-2 {
    grid-area: val-2;
    
}
.val-3 {
    grid-area: val-3;
}
.val-4 {
    grid-area: val-4;
}
.val-5 {
    grid-area: val-5;
}
.val-6 {
    grid-area: val-6;
}
.val-7 {
    grid-area: val-7;
}
.val-8 {
    grid-area: val-8;
}
.val-9 {
    grid-area: val-9;
}

.memo {
    grid-area: memo;
}
.text {
    grid-area: text;
}

/* FILE MANAGEMENT*/

.grid-container-files {
    display: grid;
    grid-template-areas:
    "file-data file-req-form"; 
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 5rem;
}

.file-data {
    grid-area: file-data;
}

.file-req-form {
    grid-area: file-req-form;
}

.download-btn {
    grid-area: download-btn;
}

.del-btn {
    grid-area: del-btn;
}

/* APPOINTMENTS and DEADLINES */

.grid-container-appointments {
    display: grid;
    grid-template-areas:
    "top-1 top-2 top-3"
    "mid-1 mid-2 mid-2"
    "bot-1 bot-2 bot-2"; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 3rem 3rem;
}

.top-1 {
    grid-area: top-1;
}

.top-2 {
    grid-area: top-2;
}

.top-3 {
    grid-area: top-3;
}

.mid-1 {
    grid-area: mid-1;
}

.mid-2 {
    grid-area: mid-2;
}

.bot-1 {
    grid-area: bot-1;
}

.bot-2 {
    grid-area: bot-2;
}


/* 
@media only screen and (max-width: 700px) {

    .narrow-table {
        display: flex;
        flex-direction: column;

    }
} */

.center-grid-cell {
    display:flex; 
    margin-bottom: 0; 
    height: 100%; 
    justify-content:center; 
    align-items: center;
}