html{
    height: 100%;
    margin: 0;
}

body {
    height: 100vh;
}

.wrapper {
    min-height: calc(100vh - 35rem);
    background-color: FFFFFF;
}


.push {
    height: 2rem;
    
}

.footer {
    height: 13rem;
    color: aliceblue;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
    background-color: black;
}

.footer-header {
    color: ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    
}